{% extends "base.html" %}


{% block title %}
<title>Login</title>
{% endblock %}

{% block content %}
{% with msg=msg %}
{% include "alerts.html" %}
{% endwith %}
<br>
<div class="container">
  <div class="row">
    <h5 class="display-5">Please login</h5>
    <div class="text-danger font-weight-bold">
      {% for error in errors %}
      <li>{{error}}</li>
      {% endfor %}
    </div>
  </div>

  <div class="row my-5">
    <form method="POST">
      <div class="mb-3">
        <label>Username</label>
        <input type="text" required class="form-control" name="username" placeholder="username">
      </div>
      <div class="mb-3">
        <label>Password</label>
        <input type="password" required placeholder="password" name="password" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
{% endblock %}
