{% extends "base.html" %}


{% block title %}
<title>Authors </title>
{% endblock %}

{% block content %}
<br>
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="display-5">Top authors</h1>
    </div>
  </div>
  <br>
  <div class="row">
    {% for author in authors %}
    <div class="col-lg-4 col-md-3 col-sm-10 mr-auto">
      {% with obj=author %}
      {% include "author.html" %}
      {% endwith %}
      {% if loop.index %3 %}
    </div>
    {% else %}
  </div>
</div><br>
<div class="row">
  {% endif %}
  {% endfor %}
</div>
</div>
{% endblock %}
